body {
    width: auto;
    background: #f46b45; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f46b45, #eea849); /* 	Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f46b45, #eea849); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 100px;
}

.arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.button {
    width: 75px;
    cursor: pointer;
}

#pokemon {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

.poke {
    width: 260px;
    height: 260px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  font-size: 10px;
}

input,
input::-webkit-input-placeholder {
    width: 190px;
    font-size: 15px;
}

#send {
    text-decoration: none;
    background-color: goldenrod;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    cursor: pointer;
}